[user]
	email = trevorycai@gmail.com
	name = Trevor Cai
[core]
	editor = vim
	pager = less -F -X
	precomposeunicode = true
	excludesfile = ~/.gitignore_global
[diff]
	colorMoved = default
[grep]
	lineNumber = true
[push]
	default = simple
[rebase]
	autoStash = true
[alias]
	st = status --short --branch
	sl = log --oneline
	dc = diff --cached
	drb = push origin --delete
	unstage = reset HEAD --
[color]
	ui = auto
