[user]
	email = trevorycai@gmail.com
	name = Trevor Cai
[push]
	default = simple
[core]
	editor = vim
	pager = less -F -X
	precomposeunicode = true
	excludesfile = ~/.gitignore_global
[grep]
	lineNumber = true
[alias]
	sl = log --oneline
	dc = diff --cached
	drb = push origin --delete
	unstage = reset HEAD --
[color]
	ui = auto
