[user]
	email = trevorycai@gmail.com
	name = Trevor Cai
[push]
	default = simple
[core]
	editor = vim
	pager = less -F -X
	precomposeunicode = true
	excludesfile = ~/.gitignore_global
[grep]
	lineNumber = true
[alias]
	sl = log --oneline
	dc = diff --cached
	drb = push origin --delete
	unstage = reset HEAD --
	darb = "!git branch --merged | grep -Ev '(^\\*|master$)' | xargs -n 1 git branch -d"
	ps = "!f() { \
		branch=`git symbolic-ref HEAD 2>/dev/null | cut -d'/' -f 3,4`; echo $branch; \
		if [ $branch == 'master' -o $branch == 'production' ]; then \
			echo "Pushing to $branch disallowed!"; else \
			git push origin -u $branch; fi; \
		}; f"
[color]
	ui = auto
